@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="panel-body">
        <a class="lead-stats" href="#">
            <span class="stats-number dolar" data-from="0" data-to="568">0</span>
            <span class="stats-icon">
                <i class="fa fa-money color-green"></i>
            </span>
            <h5>Today earnings</h5>
        </a>
    </div>
</div>